
body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.parent-container{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  z-index: 1;

}

.loading {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.custom-select {
  width: auto !important;
}
.category-selects{
  position: relative;
    z-index: 10;
}

.sideBar{
  width: 100vw;
  position: relative !important;
  z-index: 100;
}

.navbar{
  padding: .5em 1em;
}

.basic-multi-select{
  margin: 1em 0;
}

.input-group-append{
  position: relative;
}

.btn-outline-secondary {
  width: 100%;
  color: white;
  background-color: #28a745;
  background-image: none;
  border-color: #28a745;
}
